{% load static %}
<section class="implemented-projects">
            <div class="content">
                <h3>Реализованные проекты</h3>
                <div class="grid">
                    <div class="item">
                        <img src="{% static 'images/pages/implemented/Rectangle 43.png' %}" alt="img">
                        <p>Завод по производству стальных панельных радиаторов</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/pages/implemented/Rectangle 44.png' %}" alt="img">
                        <p>Проект на реконструкцию производственного здания</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/pages/implemented/Rectangle 45.png' %}" alt="img">
                        <p>Проект склада площадью до 1500 м.кв. в п. Щепкин, Ростовской области</p>
                    </div>
                </div>
            </div>
        </section>
