{% load static %}
        <section class="banner _half">
            <img class="background" src="{% static 'images/case/LooperGroup_3.svg' %}" alt="img">
            <div class="content">
                <div class="info-block">
                    <h3>Часто задаваемые вопросы</h3>
                </div>
            </div>
        </section> 
        <section id="faq" class="faq">
            <div class="content">
                <!-- <h3>Часто задаваемые вопросы</h3> -->
                <div class="grid">
                    <details>
                        <summary><h5>Какие услуги предоставляет ваше архитектурное бюро?</h5> <img src="{% static 'images/vector/shapePlus2.svg' %}" alt="g"></summary>
                        <p>
                            Рассмотрим два частовстречающихся случая:
                           <p>1. Без проведения перепланироки. 
                                Необходимо разработать технический план, в котором выделить помещение(я), и далее подать заявление в Росррестр. Сроки разработки технического плана от 2-х рабочих дней, срок рассмотрения заявления Росресстром 7 рабочих дней. После этого вы получаете выписки из ЕГРН.</p> 
                           <p> 2.1. Если перепланировка предполагается, но ещё не сделана по факту.
                                Для данного случая, необходимо добавить в выше перечисленный пакет документов проект перепланировки и техническое заключение, а также всю разрешительную документацию на проведение перепланировки, например, Распоряжение МЖИ, Акт о завершённом переустройстве и т.д.
                                Обратитесь к нам и мы бесплатно подскажем, как реализовать данное решение и получить выписку из ЕГРН.</p>
                           <p> 2.2. Если перепланировка уже выполнена, необходимо таже добавить в подаваемый пакет документов всю разрешительную документацию, и заменить проект перепланировки и техническое заключение,
                            на техническое заключение о допустимости и безопасности ранее выполненных работ. В этом случае, мы тоже готовы вам помочь с внесением изменений в выписку из ЕГРН.</p>
                     
                    </details>
                    <details>
                        <summary><h5>Какие основные этапы сотрудничества с вашим бюро?</h5> <img src="{% static 'images/vector/shapePlus2.svg' %}" alt="g"></summary>
                        <p>
                            В нашем законодательстве назначение помещения "апартаменты" не предусмотрено. В связи с этим нет статьи закона, которая узаканивает действия с подобными помещениями. 
                            Поэтому все государственные инстанции рассматривают апартаменты, как нежилое помещение, в которое нельзя прописаться, но которое годно для временного проживания. Специалисты нашей компании помуг вам в решение этого сложного вопроса.
                        </p>
                    </details>
                    <details>
                        <summary><h5>Сколько времени занимает процесс разработки проекта?</h5> <img src="{% static 'images/vector/shapePlus2.svg' %}" alt="g"></summary>
                        <p>
                            Необходимо детально изучить Приостановление, исправить ошибки в техническом плане и подать заново. По данному вопросу лучше проконсультироваться с нашими юристами и/или кадастровыми инженерами.
                        </p>
                    </details>
                    <details>
                        <summary><h5>Какой ваш опыт работы в сфере архитектуры?</h5> <img src="{% static 'images/vector/shapePlus2.svg' %}" alt="g"></summary>
                        <p>
                            В соответствии с нашим законодательством, это не возможно. Технический план и другие документы (при необходимости) являются юридическим основанием для внесения записи в ЕГРН. Специалисты нашей компании помогут вам собрать необходимый пакет документов для всех случаев внесения изменений и изменения записей в ЕГРН.
                        </p>
                    </details>
                    <details>
                        <summary><h5>Как можно начать сотрудничество с вашим бюро?</h5> <img src="{% static 'images/vector/shapePlus2.svg' %}" alt="g"></summary>
                        <p>
                            В соответствии с нашим законодательством, это не возможно. Технический план и другие документы (при необходимости) являются юридическим основанием для внесения записи в ЕГРН. Специалисты нашей компании помогут вам собрать необходимый пакет документов для всех случаев внесения изменений и изменения записей в ЕГРН.
                        </p>
                    </details>
                    
                </div>
                
            </div>
        </section>

{% include 'flatpages/elements/popup_form.html' %}