{% load static %}

<footer class="footer">
            <div class="content">
                <div class="grid">
                    <div class="logo"><a href="index.html"><img src="{% static 'images/vector/LogoWhite.svg' %}" alt="g"></a></div>
                    <ul class="navigation">
                        <li><a style="color:white !important;" href="#about">Преимущества</a></li>
                        <li><a style="color:white !important;" href="#services">Услуги</a></li>
                        <li><a style="color:white !important;" href="#second">Проект перепланировки</a></li>
                        <li><a style="color:white !important;" href="#faq">ЧаВо</a></li>
                        <li><a style="color:white !important;" href="#contact">Контакты</a></li>
                    </ul>
                    <p class="phone"><a href="tel:+7 (800) 333-85-11" style="color:white !important;">+7 (800) 333-85-11</a></p>
                    <div class="social__list">
                        <div class="vector"><a href="">
                            <img src="{% static 'images/vector/logos_whatsappHover.svg' %}" alt="vectorWhatsapp">
                        </a></div>
                        <div class="vector"><a href="">
                            <img src="{% static 'images/vector/logos_telegramHover.svg' %}" alt="vectorTelegram">
                        </a></div>
                    </div>
                </div>
                <h6>г. Москва, ул. Свободы д. 14 пом. II</h6>
                <div class="item">
                    <p>© СФЕРА 2023.  Все права защищены</p>
                    <p><a href="#rules" style="color:white !important;">Пользовательское соглашение</a></p>
                </div>
            </div>
        </footer>


