{% load static %}

<section class="limiter">
            <div class="content">
                <div class="item">
                    <img src="{% static 'images/limiter/1.svg' %}" alt="vector">
                    <h4>Быстрые сроки</h4>
                    <p>Минимальные сроки разработки проектов от 2-х дней</p>
                </div>
                <div class="item">
                    <img src="{% static 'images/limiter/2.svg' %}" alt="vector">
                    <h4>Высокое качество</h4>
                    <p>Наше проектирование отвечает самым высоким стандартам качества.</p>
                </div>
                <div class="item">
                    <img src="{% static 'images/limiter/3.svg' %}" alt="vector">
                    <h4>Лицензии и СРО</h4>
                    <p>Компания "ООО СФЕРА" имеет все необходимые лицензии и членство в СРО для оказания услуг</p>
                </div>
                <div class="item">
                    <img src="{% static 'images/limiter/4.svg' %}" alt="vector">
                    <h4>Согласование документов</h4>
                    <p>Мы берем на себя процесс согласования проектной документации</p>
                </div>
            </div>
        </section>
