{% load static %}

<section class="rosreestr-approval-process cv-6">
            <div class="content">
                <h3>Как мы работаем</h3>
                <div class="row">
                    <div class="item">
                        <img src="{% 'images/pages/vec.svg' %}" alt="vector" class="vector">
                        <h4>Консультация и расчеты</h4>
                        <p>Наши специалисты проводят детальную консультацию с клиентом, выясняют его потребности и особенности объекта.
                            Производится расчет необходимого оборудования и стоимости работ.</p>
                    </div>
                    <div class="item">
                        <img src="{% 'images/pages/vec2.svg' %}" alt="vector" class="vector">
                        <h4>Проектирование</h4>
                        <p>Наша команда инженеров разрабатывает индивидуальный проект вентиляционной или кондиционирования системы, учитывая все требования клиента и особенности помещения.</p>
                    </div>
                    <div class="item">
                        <img src="{% 'images/pages/vec3.svg' %}" alt="vector" class="vector">
                        <h4>Установка</h4>
                        <p>Профессиональные монтажники устанавливают оборудование согласно разработанному проекту, соблюдая все нормы и стандарты безопасности.</p>
                    </div>
                    <div class="item">
                        <img src="{% 'images/pages/vec4.svg' %}" alt="vector" class="vector">
                        <h4>Тестирование и настройка</h4>
                        <p>После установки проводится тестирование системы на работоспособность и корректировка настроек для достижения оптимальной производительности.</p>
                    </div>
                    <div class="item">
                        <img src="{% 'images/pages/vec5.svg' %}" alt="vector" class="vector">
                        <h4>Обслуживание и поддержка</h4>
                        <p>Мы предлагаем долгосрочное обслуживание системы, включая ежегодную проверку и регулярную техническую поддержку.</p>
                    </div>
                    <div class="item">
                        <img src="{% 'images/pages/vec6.svg' %}" alt="vector" class="vector">
                        <h4>Обучение и инструктаж</h4>
                        <p>После установки системы наши специалисты проводят обучение клиентов или персонала по правильному использованию оборудования и основам его обслуживания.
                        </p>
                    </div>
                </div>
            </div>
        </section>
