<!-- popup_form.html -->
{% load static %}
<div class="popup _popup-form" style="display: none;">  <!-- Initially hidden -->
    <div class="popup__content">
        <div class="popup__close" onclick="closePopup('.popup._popup-form')"><img src="{% static 'images/vector/close.svg' %}" alt="close"></div>
        <h2 class="popup__title">Оставить заявку</h2>
        <p class="popup__description">Оставьте заявку и мы проконсультируем вас по всем вопросам</p>
        <form class="form" action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form__group">
                        <label for="id_name_popup">Имя</label>
                        <input type="text" id="id_name_popup" name="name_popup" placeholder="Ваше имя" value="{{ form.name_popup.value|default_if_none:'' }}" class="form__input">
                        {% if form.name_popup.errors %}
                            <div class="errors">{{ form.name_popup.errors.as_text }}</div>
                        {% endif %}
                    </div>
                    <div class="form__group">
                        <label for="id_phone_popup">Телефон</label>
                        <input type="text" id="id_phone_popup" name="phone_popup" placeholder="+7 (---) --- -- --" value="{{ form.phone_popup.value|default_if_none:'' }}" class="form__input phone">
                        {% if form.phone_popup.errors %}
                            <div class="errors">{{ form.phone_popup.errors.as_text }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="form__button">Оставить заявку</button>
                </div>
                <input type="hidden" name="form_type" value="popup_form">
                <span>Я соглашаюсь с условиями <a href="#">Политики обработки персональных данных</a> и <a href="#">Публичной офертой</a></span>
        </form>
    </div>
</div>

