{% extends 'flatpages/default.html' %}
{% load static %}
{% block seo %}
    <meta name="title" content="Электроснабжение – Проектирование, Монтаж и Энергоаудит">
    <meta name="description" content="Предлагаем комплексные решения по электроснабжению, включая проектирование электрических сетей, установку распределительных устройств и проведение энергоаудитов для оптимизации потребления энергии.">
    <meta name="keywords" content="электроснабжение, проектирование электрических сетей, монтаж, энергоаудит, оптимизация энергопотребления">
{% endblock seo %}
{% block content %}

        <section class="banner __duble">
            <div class="content">
                <div class="info-block">
                    <h2>Электроснабжение и освещение</h2>
                   <div class="button"><button onclick="openPopup('.popup._popup-form')">Получить предложение</button></div>
                    {% include "flatpages/elements/popup_form.html" %}
                </div>
                <div class="image"><img src="{% static 'images/ItemServices/Rectangle 28-4.png' %}" alt="img"></div>
            </div>
        </section>

        <section class="services-offered cv-3">
            <div class="content">
                <h3>Мы предлагаем комплексные решения по электроснабжению, включая:</h3>
                <div class="grid">
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange7.png' %}" alt="g">
                        <p>Проектирование и монтаж электрических сетей</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange4.png' %}" alt="g">
                        <p>Установка и настройка распределительных устройств</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange5.png' %}" alt="g">
                        <p>Проведение энергоаудита для оптимизации энергопотребления</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-offered cv-3">
            <div class="content">
                <h3>Наши специалисты помогут вам выбрать и установить подходящие решения для освещения вашего объекта</h3>
                <div class="grid">
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange2.png' %}" alt="g">
                        <p>Проектирование и установка систем общего и аварийного освещения</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange3.png' %}" alt="g">
                        <p>Подбор энергоэффективных светодиодных и люминесцентных источников света</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange.png' %}" alt="g">
                        <p>Техническое обслуживание и ремонт осветительных устройств</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-offered cv-3">
            <div class="content">
                <h3>Мы предоставляем услуги по установке и обслуживанию промышленного электрооборудования, включая:</h3>
                <div class="grid">
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange6.png' %}" alt="g">
                        <p>Установка электроприводов и систем автоматизации</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange9.png' %}" alt="g">
                        <p>Монтаж систем аварийного питания и резервного электроснабжения</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/ItemServices/rectange8.png' %}" alt="g">
                        <p>Обслуживание и ремонт промышленного оборудования</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="implemented-projects">
            <div class="content">
                <h3>Реализованные проекты</h3>
                <div class="grid">
                    <div class="item">
                        <img src="{% static 'images/pages/implemented/Rectangle 43.png' %}" alt="img">
                        <p>Завод по производству стальных панельных радиаторов</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/pages/implemented/Rectangle 44.png' %}" alt="img">
                        <p>Проект на реконструкцию производственного здания</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/pages/implemented/Rectangle 45.png' %}" alt="img">
                        <p>Проект склада площадью до 1500 м.кв. в п. Щепкин, Ростовской области</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="advantages __change">
            <div class="content">
                <h3>Мы качественно следим за каждым этапом работы, чтобы результат был идеален</h3>
                <div class="grid">
                    <div class="item">
                        <img src="{% static 'images/advantages/1.svg' %}" alt="vector">
                        <h4>Согласование Комплексный подход</h4>
                        <p>Предлагаем полный цикл: от проектирования до строительства.</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/advantages/2.svg' %}" alt="vector">
                        <h4>Минимальные сроки</h4>
                        <p>Единая работа отделов исключает задержки, обеспечивает быстрый переход между этапами.</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/advantages/3.svg' %}" alt="vector">
                        <h4>Согласование документов</h4>
                        <p>Цены наших услуг оптимальны для высокого качества проектирования, доступного клиентам.</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/advantages/4.svg' %}" alt="vector">
                        <h4>Проверенное качество</h4>
                        <p>Надежные партнеры: 200+ успешных проектов для крупных заказчиков, частных и государственных.</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/advantages/5.svg' %}" alt="vector">
                        <h4>Опытная команда</h4>
                        <p>Профессиональная команда с глубоким опытом гарантирует высокое качество и соответствие стандартам.</p>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/advantages/6.svg' %}" alt="vector">
                        <h4>Юридическое соответствие</h4>
                        <p>Обеспечиваем юридическое соответствие и надежность каждого объекта в процессе строительства.</p>
                    </div>
                </div>
            </div>
        </section>


{% include 'flatpages/elements/faq.html' %}
{% include 'flatpages/elements/form_and_image.html' %}
{% endblock content %}
