{% extends 'flatpages/default.html' %}
{% load static %}
{% block content %}

        <section class="news">
            <div class="content">
                <h3>Актуальные новости</h3>
                <div class="grid">

                    <div class="item">
                        <img src="{% static 'images/news/Container-2.png' %}" alt="g">
                        <div class="date">
                            <p class="category">Путешествие</p>
                            <span>13/03/2024</span>
                        </div>
                        <h6>Путешествие на поезде или автобусе? Какой из них подходит?</h6>
                        <p>Выбор между поездкой на поезде или автобусом зависит от различных факторов,
                            таких как расстояние поездки, доступное время, стоимость и количество человек. </p>
                        <div class="button"><button>Подробнее</button></div>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/news/Container.png' %}" alt="g">
                        <div class="date">
                            <p class="category">Путешествие</p>
                            <span>13/03/2024</span>
                        </div>
                        <h6>Путешествие на поезде или автобусе? Какой из них подходит?</h6>
                        <p>Выбор между поездкой на поезде или автобусом зависит от различных факторов,
                            таких как расстояние поездки, доступное время, стоимость и количество человек. </p>
                        <div class="button"><button>Подробнее</button></div>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/news/Container-1.png' %}" alt="g">
                        <div class="date">
                            <p class="category">Путешествие</p>
                            <span>13/03/2024</span>
                        </div>
                        <h6>Путешествие на поезде или автобусе? Какой из них подходит?</h6>
                        <p>Выбор между поездкой на поезде или автобусом зависит от различных факторов,
                            таких как расстояние поездки, доступное время, стоимость и количество человек. </p>
                        <div class="button"><button>Подробнее</button></div>
                    </div>


                    <div class="item">
                        <img src="{% static 'images/news/Container-2.png' %}" alt="g">
                        <div class="date">
                            <p class="category">Путешествие</p>
                            <span>13/03/2024</span>
                        </div>
                        <h6>Путешествие на поезде или автобусе? Какой из них подходит?</h6>
                        <p>Выбор между поездкой на поезде или автобусом зависит от различных факторов,
                            таких как расстояние поездки, доступное время, стоимость и количество человек. </p>
                        <div class="button"><button>Подробнее</button></div>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/news/Container.png' %}" alt="g">
                        <div class="date">
                            <p class="category">Путешествие</p>
                            <span>13/03/2024</span>
                        </div>
                        <h6>Путешествие на поезде или автобусе? Какой из них подходит?</h6>
                        <p>Выбор между поездкой на поезде или автобусом зависит от различных факторов,
                            таких как расстояние поездки, доступное время, стоимость и количество человек. </p>
                        <div class="button"><button>Подробнее</button></div>
                    </div>
                    <div class="item">
                        <img src="{% static 'images/news/Container-1.png' %}" alt="g">
                        <div class="date">
                            <p class="category">Путешествие</p>
                            <span>13/03/2024</span>
                        </div>
                        <h6>Путешествие на поезде или автобусе? Какой из них подходит?</h6>
                        <p>Выбор между поездкой на поезде или автобусом зависит от различных факторов,
                            таких как расстояние поездки, доступное время, стоимость и количество человек. </p>
                        <div class="button"><button>Подробнее</button></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="story-delivery">
            <div class="content">
                <h3>Получайте наши истории каждую неделю прямо в вашу почту.</h3>
                <form action="">
                    <input type="email" name="" id="" placeholder="Email">
                    <div class="button"><button>Подписаться</button></div>
                </form>
                <p>Получите ответ завтра, если отправите до 21:00 сегодня. Если мы получим после 21:00, ответ будет получен на следующий день.</p>
            </div>
        </section>
{% include 'flatpages/elements/black_form.html' %}
{% endblock content %}
